.main-page-content {
    position: absolute;
    width: 620px;
    height: 15px;
    left: 330px;
    top: 31.5px;
}

.menu-list {
    list-style: none;
    display: inline-block;
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    justify-content: center; 
    line-height: 18px;
    width: 620px;
    height: 15px;
    text-align: center;
}

.menu-item {
    font-family: 'Montserrat';
    text-decoration:none ;
    display: inline-block;
    margin-left: 69px;
    text-align: center;
}

.menu-item-link {
    text-decoration: none;
    color: black;
    font-size: normal;
    font-weight: 700px;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    letter-spacing: 2.7px;
    text-align: center;
color: #FF0000;
}

.image {

    width: 1280px;
    height: 789px;
    left: 0px;
 
    margin: 80px;
    background-size: 100%;
}

.image-size {
    width: 1280px;
    height: 789px; 
}

.main-page {
    position: absolute;
    width: 774px;
    height: 29px;
    left: 353px;
    right: 253px;
    top: 915px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;

color: #373737;
}

.content {
    font-family: 'Montserrat';
    position: absolute;
    width: 1145px;
    height: 132px;
    left: 135.5px;
    top: 983px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;

    

color: #373737;
}

.content-1 {
    font-family: 'Montserrat';
    position: absolute;
    width: 1145px;
    height: 216px;
    left: 135.5px;
    top: 1117px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;

color: #373737;
}

.button {
    font-family: 'Montserrat';
    position: absolute;
    width: 191px;
    height: 51px;
    left: 600.5px;
    top: 1370px;
    margin: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center; 
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    
color: #FFFFFF;
background: #FF0000;
}

.note {
    position: absolute;
    width: 462px;
    height: 39px;
    left: 708px;
    top: 1500px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 2.4px;
    text-align: center;


color: #373737;
}